:root {
  --color-text: #3a3a3a;
  --color-primary: #31a7cc;
  --color-white: #fafafa;
  --color-grey-light: #f0f4f5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-text) dd;
  font-family: sans-serif;
  background-color: var(--color-white);
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

input {
  outline: none;
}
