*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/*
https://dribbble.com/shots/15330847-Music-App/attachments/7089318?mode=media
*/
